<% @user ||= current_user %>

<h1> <%= @user.name + "'s" + " Forms" %> <h1>

<h2>
<p>
	<% @forms = Form.where(user_id: @user.id) %>
<tbody>
    <% @forms.each do |form| %>
      <tr>
      	<td><%= form.template_name %><td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>
</h2>
