<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :template_id, "Form Type" %>
  <%= f.select :template_id, [['Dental',1],['Drug Abuse',2],['Eating Disorder',3],['VA Benefits',4]] %>

  <%= f.label :user_id, "Patient Recipient" %>
  <%= f.collection_select :user_id, User.find(:all, :conditions => "physician=false"), :id, :name %>


  <%= f.label :due_date, "Form Due Date" %>
  <%= f.date_select :due_date %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
